<div class="jumbotron">
	<h1>Welcome! Please register to upload images.</h1>
	<br>
	<h4>Work in Progress</h4>
	<br>
	<%= link_to "Browse & Create Posts", posts_path, class: "btn btn-info login2" %>
</div>

