<h1>Welcome to my app!</h1>
<br>
<h4>Pinterest Clone - Work in Progress</h4>
<br>
<%= link_to "Login", login_path, class: "btn btn-info login" %> <%= link_to "Sign Up", register_path, class: "btn btn-info register" %>